@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Righteous&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none!important;
    outline: none!important;
    text-decoration: none!important;
    border: none!important;
}
:root {
    --bg-color: #0b0b0b;
    --orange: #FF7A00;
    --white: #fff;
    --gray: #bbb;
    --text-color: #fff;
    --indie-flower: 'Indie Flower', cursive;
    --righteous: 'Righteous', cursive;
    --work-sans: 'Work Sans', sans-serif;
}
.heading h2 {
    margin-top: 9%;
    text-align: center;
    font-size: 50px;
    color: var(--text-color);
    font-family: var(--righteous);
}
.heading h2 span {
    color: var(--orange);
}
.heading p {
    text-align: center;
    font-size: 19px;
    color: var(--gray);
    margin-top: 10px;
}
html {
    overflow-x: clip;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: var(--work-sans);
    overflow-x: clip;
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100vh;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: load 5s linear forwards;
}
@keyframes load {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
.preloader .load h2 {
    display: block;
    font-family: var(--righteous);
    font-size: 80px;
    color: var(--text-color);
}
.preloader .load h2 span {
    color: var(--orange);
}
.preloader .loading {
    position: relative;
    width: 20px;
    height: 20px;
    background: var(--orange);
    border-radius: 50%;
    margin: 20px;
}
.preloader .loading::before {
    position: absolute;
    content: '';
    top: 0;
    left: 20%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--orange);
}
header nav .menu-btn {
    display: none;
}
header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background: #0b0b0bb6;
    backdrop-filter: blur(20px);
    z-index: 101;
}
header nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3%;
}
header nav .logo h2 {
    font-family: var(--righteous);
    font-weight: 400;
    cursor: pointer;
    transition: 0.7s ease-in-out;
}
header nav .logo h2:hover {
    transform: scale(1.1);
}
header nav .logo h2 span {
    color: var(--orange);
}
header nav .menu-content {
    display: flex;
    justify-content: space-between;
}
header nav .menu-content ul {
    cursor: pointer;
    margin: 10px;
}
header nav .menu-content ul li {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    transition: 0.3s ease-in-out;
    z-index: 1;
}
header nav .menu-content ul li::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 10%;
    width: 0%;
    height: 100%;
    transform: translate(0, -50%);
    border-bottom: 3px solid var(--orange)!important;
    transition: 0.5s ease-in-out;
    transform-origin: left;
    z-index: -1;
}
header nav .menu-content ul li:hover::after {
    width: 80%;
    color: var(--orange);
}
header nav .menu-content ul li a {
    text-decoration: none;
    font-family: var(--Allura);
    color: var(--black) !important;
    font-size: 18px;
    cursor: pointer;
}
header nav .menu-content .cart {
    margin: 10px;
    transition: 0.5s ease-in-out;
}
header nav .menu-content .cart a {
    display: inline-block;
    padding: 8px 15px 10px;
    background: var(--orange);
    color: var(--text-color);
    border-radius: 30px;
    font-size: 18px;
}
header nav .menu-content .cart a i {
    font-size: 20px;
}
header nav .menu-content .cart a:hover {
    transform: scale(1.1);
}
                            /* ================== HOME ==================== */
#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}
#banner .shine .text p {
    position: relative;
    font-size: 18px;
    color: var(--orange);
    font-family: var(--indie-flower);
}
#banner .shine .text p::before {
    content: '';
    position: absolute;
    top: 180%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 700%;
    background: radial-gradient(circle, rgba(255,122,0,0.6) 0%, transparent 70%);
    border-radius: 200%;
    filter: blur(20px);
    z-index: -1;

    animation: glowPulse 2s infinite ease-in-out;
}
@keyframes glowPulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.3;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.3;
    }
}
#banner .shine .heading h2 {
    text-align: left;
    font-size: 70px;
    color: var(--text-color);
    font-family: var(--righteous);
}
#banner .shine .heading p {
    text-align: left;
    font-size: 17px;
    color: var(--gray);
    margin-top: 20px;
}
#banner .shine .btn {
    margin: 10px;
    margin-left: -15px;
}
#banner .shine .btn a {
    display: inline-block;
    padding: 13px 25px;
    background: var(--orange);
    color: var(--text-color);
    font-weight: 600;
    border-radius: 30px;
    font-size: 16px;
    margin-right: 20px;
    transition: 0.5s ease-in-out;
}
#banner .shine .btn a:hover {
    transform: scale(1.05);
}
#banner .shine .btn a i {
    display: inline-block;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}
#banner .shine .btn a:hover i {
    transform: translateX(5px);
}
#banner .shine .btn a:nth-child(2) {
    display: inline-block;
    padding: 13px 25px;
    background: transparent;
    color: var(--text-color);
    font-weight: 600;
    border: 2px solid #fff !important;
    border-radius: 30px;
    font-size: 16px;
}
#banner .shine .text-2 {
    display: flex;
    gap: 5px;
    margin-top: 20px;
}
#banner .shine .text-2 .icon i {
    color: var(--orange);
    margin-right: 10px;
    font-size: 20px;
}
#banner .shine .text-2 .icn-t p {
    color: var(--gray);
    font-size: 16px;
    margin-top: 5px;
}
#banner .img {
    position: relative;
    width: 100%;
    height: 600px;
    /* overflow: hidden; */
    /* z-index: -1; */
}
#banner .img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
    /* z-index: 2; */
}
#banner .img::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10%;
    width: 150px;
    height: 70px;
    border-radius: 15px;
    background: var(--orange);
    z-index: 3;
}
#banner .img:hover::before,
#banner .img:hover h2,
#banner .img:hover p {
    transform: rotate(-12deg);
    transition: 0.5s ease-in-out;
}
#banner .img:hover::before{
    transform: rotate(-12deg);
}
#banner .img h2 {
    position: absolute;
    bottom: 10px;
    left: -40px;
    color: var(--text-color);
    font-size: 16px;
    z-index: 4;
}
#banner .img p {
    position: absolute;
    bottom: -29px;
    left: -40px;
    color: var(--text-color);
    font-family: var(--righteous);
    font-size: 26px;
    z-index: 4;
}
#banner .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
#choose .col-md-3:nth-child(2) .box, 
#choose .col-md-3:nth-child(3) .box,
#choose .col-md-3:nth-child(4) .box {
    padding-bottom: 35px;
}
#choose .box {
    background: #1a1a1a;
    padding: 20px 30px;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    transition: 1s ease-in-out;
}
#choose .box:hover {
    transform: translateY(-10px);
}
#choose .box .icn {
    height: 60px;
    width: 60px;
    display: inline-block;
    border-radius: 50%;
    padding: 10px;
    background: #312317;
    color: var(--orange);
    cursor: pointer;
    transition: 0.8s ease-in-out;
}
#choose .box .icn i {
    margin-left: 8px;
    font-size: 30px;
}
#choose .box .icn:hover {
    transform: rotate(360deg);
}
#choose .box h2 {
    color: var(--text-color);
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}
#choose .box p {
    color: var(--gray);
    font-size: 14px;
    margin-top: 20px;
}
#choose .formulated {
    margin-top: 10%;
}
#choose .formulated .img {
    position: relative;
    width: 100%;
    height: 500px;
}
#choose .formulated .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
#choose .formulated .heading h2 {
    text-align: left;
    margin-top: 0;
}
#choose .formulated .heading p {
    text-align: left;
}
#choose .formulated .list {
    margin-top: 35px;
    text-align: left;
    margin-left: -25px;
}
#choose .formulated .list ul li {
    color: var(--white);
    font-size: 16px;
    margin-bottom: 18px;
    text-align: left;
}
#choose .formulated .list ul li i {
    display: inline-block;
    width: 25px;
    height: 20px;
    padding-bottom: 15px;
    padding-left: 4px;
    border-radius: 50%;
    background: var(--orange);
    margin-right: 10px;
}
#choose .formulated .explore {
    margin-top: 30px;
    transition: 0.5s ease-in-out;
    background: transparent;
}
#choose .formulated .explore a {
    display: inline-block;
    padding: 15px 30px;
    background: var(--orange);
    color: var(--text-color);
    border-radius: 30px;
    font-weight: 600;
    font-size: 15px;
}
#choose .formulated .explore:hover {
    transform: scale(1.1);
}
#ready .ready {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    padding: 5% 0;
    margin-top: 7%;
    background: rgba(16, 13, 11);
}
#ready .ready .heading h2 {
    margin-top: 0;
    font-size: 60px;
}
#ready .ready .heading p {
    margin-top: 20px;
    color: var(--gray);
}
#ready .ready .get {
    width: 300px;
    height: auto;
    text-align: center;
    margin: 30px auto;
    transition: 0.5s ease-in-out;
}
#ready .ready .get a {
    display: inline-block;
    padding: 20px 40px;
    background: var(--orange);
    color: var(--text-color);
    border-radius: 30px;
    font-weight: 600;
    font-size: 15px;
}
#ready .ready .get:hover {
    transform: scale(1.05);
}
footer {
    width: 100%;
    height: auto;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    padding: 3% 0;
    margin-top: 7%;
    text-align: left;
}
footer .row {
    box-shadow:  0 2px 0 rgba(245, 242, 242, 0.2);
    padding: 20px 0;
}
footer h2 {
    font-family: var(--righteous);
    margin-top: 0;
    font-size: 30px;
    color: var(--text-color);
}
footer h2 span {
    color: var(--orange);
}
footer p {
    color: var(--gray);
    margin-top: 10px;
    font-size: 15px;
}
footer .icon {
    display: flex;
    gap: 20px;
}
footer .icon i {
    font-size: 20px;
    color: var(--gray);
}
footer .head h2 {
    font-size: 17px;
    margin-top: 5px;
    color: var(--text-color);
    font-family: var(--work-sans);
}
footer .list {
    display: inline-block;
    margin-left: -30px;
    margin-top: 5px;
}
footer .list ul li {
    font-size: 16px;
    margin-bottom: 5px;
}
footer .list ul li a {
    color: var(--gray);
}
footer .text-2 p {
    text-align: center;
    color: var(--gray);
    font-size: 16px;
    margin-top: 20px;
}










                        /* ================== ABOUT ==================== */
#about .heading h2 {
    font-size: 60px;
    margin-top: 5%;
}
#about .container-fluid {
    padding: 0 5%;
}
#about .content {
    margin-top: 8%;
}
#about .content .text h2 {
    font-family: var(--righteous);
    margin: 20px 0;
    font-size: 40px;
}
#about .content .text h2 span {
    color: var(--orange);
}
#about .content .text p {
    color: var(--gray);
    font-size: 16px;
}
#about .content .img {
    position: relative;
    width: 100%;
    height: 500px;
}
#about .content .img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
    border-radius: 15px;
}
#about .content .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.timeline {
    width: 80%;
    margin: auto;
    position: relative;
    padding-left: 60px;
}
.timeline::before {
    content: "";
    position: absolute;
    left: 79px;
    top: 0;
    width: 0.6px;
    height: 100%;
    background: var(--orange);
}
.timeline-item {
    position: relative;
    margin-bottom: 40px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease;
}
.timeline-item.show {
    opacity: 1;
    transform: translateY(0);
}
.timeline-item::before {
    content: "";
    position: absolute;
    left: 19.9px;
    top: 25px;
    width: 18px;
    height: 18px;
    background: var(--orange);
    border-radius: 50%;
    margin-left: -9px;
    transition: 1s ease-in-out;
}
.timeline-item:hover::before {
    transform: scale(1.5);
}
.card {
    background: #1a1a1a;
    padding: 20px 25px;
    border-radius: 15px;
    margin-left: 40px;
    border: 1px solid #2a2a2a;
}
.card h3 {
    color: var(--orange);
    margin-bottom: 8px;
}

.card p {
    color: #bbb;
    font-size: 14px;
}








                /*======================= CONTACT ========================== */
#get .touch h2 {
    margin-top: 5%;
}
#get .touch {
    padding: 0;
    margin-top: 5%;
}
#get .touch form {
    width: 100%;
    height: auto;
    background: #1a1a1a;
    padding: 40px 50px;
    border-radius: 25px;
    transition: 1s ease-in-out;
}
#get .touch form:hover {
    box-shadow: 0 0 5px var(--gray);
}
#get .touch form h2 {
    font-size: 30px;
    font-weight: none;
    margin-top: 0;
    text-align: left;
    margin-left: -10px;
}
#get .touch form i {
    font-size: 25px;
    margin-right: 10px;
}
#get .touch form .cont-1 {
    margin-top: 20px;
}
#get .touch form .cont-1 label {
    display: block;
    font-size: 14px;
    margin-top: 0;
}
#get .touch form label {
    display: block;
    font-size: 14px;
    margin-top: 30px;
}
#get .touch form .cont-1 input {
    width: 100%;
    background: var(--bg-color);
    padding: 10px 15px;
    border-radius: 8px;
    color: var(--gray);
    font-size: 16px;
    margin-top: 8px;
}
#get .touch form .cont-1 input:focus {
    outline: 1px solid var(--orange) !important;
}
#get .touch form textarea,
#get .touch form select {
    width: 100%;
    background: var(--bg-color);
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 16px;
    color: var(--gray);
    margin-top: 8px;
}
#get .touch form textarea {
    padding: 20px 15px;
    padding-bottom: 15%;
}
#get .touch form textarea:focus {
    outline: 1px solid var(--orange);
}
#get .touch form button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    font-size: 20px;
    background: var(--orange);
    color: var(--text-color);
    border-radius: 25px;
}
#get .touch .box .row {
    display: flex;
    text-align: left;
    background: #1a1a1a;
    padding: 15px 0;
    margin-bottom: 20px;
    border-radius: 15px;
    transition: 0.5s ease-in-out;
}
#get .touch .box .row:hover {
    border: 2px solid var(--orange) !important;
}
#get .touch .box .row .icon {
    height: 50px;
    width: 50px;
    display: inline-block;
    border-radius: 15px;
    margin: 17px 10px 10px 15px;
    margin-left: 10px;
    padding: 10px;
    background: #312317;
    color: var(--orange);
    cursor: pointer;
    transition: 0.8s ease-in-out;
}
#get .touch .box .row .icon i {
    margin-left: 5px;
    font-size: 20px;
}
#get .touch .box .row .text {
    margin-left: 20px;
    margin-top: -8px;
}
#get .touch .box .row .text h2 {
    font-weight: 700;
    font-size: 20px;
}
#get .touch .box .row .text p {
    color: var(--gray);
    font-size: 15px;
}
#get .touch .box .row .text-2 h2 {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}
#get .touch .box .row:nth-child(5) {
    padding: 0;
}
#get .touch .box .row .icons i {
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 15px;
    margin: 10px 10px 10px 15px;
    margin-left: 10px;
    padding: 10px;
    background: #312317;
    color: var(--orange);
    cursor: pointer;
}
#ask .heading h2 {
    font-size: 40px;
}
#ask .box {
    text-align: left;
    background: #1a1a1a;
    margin-top: 40px;
    padding: 30px 30px;
    padding-right: 10%;
    border-radius: 15px;
}
#ask .box h2 {
    font-size: 16px;
    font-weight: 700;
    color: var(--orange);
}
#ask .box p {
    font-size: 13px;
    color: var(--gray);
    margin-bottom: 0;
}
#ask .visit {
    box-shadow: 0 0 1.9px rgba(255, 255, 255, 5);
    text-align: center;
    margin-top: 40px;
    background: linear-gradient(to bottom right, #ff7b00e0, #000);
    padding: 8% 0;
    border-radius: 20px;
}





                /*=================== MEDIA QUERIES ==================== */

@media (max-width: 982px) {
    header nav {
        padding: 10px 0;
    }
    header nav .logo {
        padding: 0 10px;
    }
    header nav .menu-content {
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100vh;
        background: black;
        display: block;
        text-align: center;
        transform: translateX(100%);
        transition: transform .5s ease;
        opacity: 0;
        visibility: hidden;
        /* z-index: 9999; */
    }
    header nav.active .menu-content {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    header nav .menu-content ul {
        margin: 10% 0 0;
    }
    header nav .menu-content ul li {
        display: block;
        padding: 15px 0;
    }
    header nav .menu-content ul li a {
        font-size: 25px;
        font-weight: 700;
    }
    header nav .btn {
        position: relative;
        cursor: pointer;
        display: inline-block;
        z-index: 999;
    }
    header nav .btn .menu-btn {
        display: inline-block;
        position: relative;
        width: 25px;
        height: 2px;
        background: #fff;
        border-radius: 3px;
        cursor: pointer;
        margin: 20px;
    }
    header nav .btn .menu-btn::after,
    header nav .btn .menu-btn::before {
        position: absolute;
        content: '';
        width: 25px;
        height: 2px;
        background: #fff;
        border-radius: 3px;
        cursor: pointer;
        transition: 0.5s ease-in-out;
    }
    header nav .btn .menu-btn::before {
        left: 0.5px;
        top: -9px;
    }
    header nav .btn .menu-btn::after {
        bottom: -9px;
        left: 0.5px;
    }
    header nav.active .btn .menu-btn {
        background: transparent;
    }
    header nav.active .btn .menu-btn::before {
        top: 0;
        transform: rotate(45deg);
    }
    header nav.active .btn .menu-btn::after {
        bottom: 0;
        transform: rotate(-45deg);
    }
}
